@if (pokemonResource.isLoading()) {
  <img ngSrc="pokeball.png" width="32" height="32" class="mx-auto animate-spin" priority />
} @else {
  @let pokemon = pokemonResource.value();

  @if (pokemon) {
    <h1 class="mb-4 text-4xl capitalize">
      {{ pokemon.name }} <span class="text-[#616161]">#{{ pokemon.id }}</span>
    </h1>

    <div class="flex flex-col gap-4 md:flex-row">
      <div class="rounded-md bg-[#F2F2F2]">
        <img
          [ngSrc]="`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${pokemon.id}.png`"
          width="475"
          height="475"
          class="mx-auto"
          priority
        />
      </div>

      <div class="flex-1">
        <div class="grid grid-cols-1 gap-4 rounded-md bg-[#30a7d7] p-5 text-white md:grid-cols-2">
          <!-- TODO: We can additionally add Stats -->
          <div class="flex flex-col gap-3">
            <span>Height</span>
            <span class="text-xl text-[#212121]">{{ pokemon.height }}</span>
          </div>

          <div class="flex flex-col gap-3">
            <span>Weight</span>
            <span class="text-xl text-[#212121]">{{ pokemon.weight }} lbs</span>
          </div>

          <div class="flex flex-col gap-3">
            <span>Abilities</span>

            <div>
              @for (item of pokemon.abilities; track item.ability.name; let isLast = $last) {
                @if (item.is_hidden) {
                  <span class="text-xl text-[#212121] capitalize"
                    >{{ item.ability.name }}{{ isLast ? '' : ', ' }}</span
                  >
                }
              }
            </div>
          </div>
        </div>

        <div>
          <h3 class="mt-5 mb-5 text-xl">Type</h3>

          <div class="flex flex-row gap-1.5">
            @for (item of pokemon.types; track item.type.name) {
              <div
                [class]="'pokemon-type-' + item.type.name"
                class="pokemon-type w-1/3 rounded-md pt-2 pb-2 text-center leading-none capitalize"
              >
                {{ item.type.name }}
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  }
}
